.bg1
{
  background-image: url("../images/steamnoccio.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2
{
  background-image: url("../images/steampunknationboard.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.the-table{
/*   background-color: #277714;
 */
 /* border: 5px solid #dcdcdc; */
  /* border-radius: 10px; */
  margin-top: 500px;
  padding: 30px 0px;
  transform: perspective( 400px ) rotateX(30deg);
  /* transform: perspective(500px); */
}

.card{
  height: 120px;
  /* background-color: #fff; */
  padding: 10px;
  border: 1px solid #fff;
}

.card img{
  max-height: 100%;
  width:  100%;
}

.dealer-total{
  color: white;
}

/* .dealer-cards {
  transform: perspective( 400px ) rotateZ(30deg);
 } */

.player-total{
  display: inline-block;
  color: white;
}

.player-bank{
  display: inline-block;
  color: white;
}

.player-bet{
  display: inline-block;
  color: white;
}

.the-trapdoor{
  color: white;
  margin-top:750px;
  margin-left: -40px;
  height: 50px;
  width: 100px;
  /* background-color:  black; */
  transform: perspective( 400px ) rotateX(30deg) skewX(-30deg);
}

.steam-char{
  /* display: inline-block; */
  position: relative;
  top:  -200px;
  left: -50px;
  transform: scale(.25, .25);
}

.the-register{
  position: absolute;
  top: 380px;
  left: 880px;
/*   margin-top:  650px; */
  transform: scale(.48, .48);
}
